<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | VEGANderson</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This site has been put together by the Anderson Vegan Society.<br>
      For more information, simply shoot us an <a href="mailto:spikenology@gmail.com">email</a>.
    </p>
  </body>
</html>