<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | VEGANderson</title>
  </head>
  <body>
    <h1>VEGANderson</h1>
    <p>
       This is the home page for the<br>
      <a href="http://www.veganderson.com/">VEGANderson</a>
      web site.<br>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </p>
  </body>
</html>
