<footer class="footer">
  <small>
    Developed by <a href="http://spikenology.com/">SPIKEnology.com</a>
  </small>
  <nav>
    <ul>
        <li><%= link_to "About",    about_path %></li>
        <li><%= link_to "Contact",  contact_path %></li>
    </ul>
  </nav>
</footer>